$Color-font: rgb(170, 170, 170);

footer {
  @extend %DisplayView;
  background-color: #3c3c3c;
}

#div-footer {
  @extend %Display2;
  width: 940px;
  margin: 40px 0px;
}
#div-tittle-footer {
  width: 400px;
  @extend %Display2;
  text-align: center;
  margin-bottom: 40px;
  color: white;
  h1 {
    font-size: 45px;
    margin: 0 auto;
    font-family: "Roboto Slab", serif;
  }
  p {
    font-size: 13px;
    font-family: sans-serif;
  }
}
#divInputFooter {
  width: 450px;
  @extend %Display2;
  height: 300px;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 70px;
}

.my-class-name-inputs {
  border-radius: 8px;
  width: 100%;
  padding-left: 20px;
  font-size: 14px;
  border: 0px;
  height: 50px;
}

#inputMessage {
  padding-top: 10px;
  justify-content: flex-start;
  vertical-align: top;
  height: 120px;
}

#divBtnFooter {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: white;
  width: 120px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #3c3c3c;
  font-weight: bold;
}
#divHrFooter {
  width: 100%;
  hr {
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-color: #292929;
    border-style: solid;
  }
}

#divNavFooter {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  font-family: Helvetica, sans-serif;
  input {
    height: 45px;
    width: 45px;
  }
  nav {
    display: flex;
    width: 210px;
    justify-content: space-between;
  }
  a {
    color: rgb(224, 190, 103);
  }
  p {
    color: $Color-font;
  }
}
