header {
  @extend %display-column;
  background-color: $background;
}

.my-class-name-header {
  width: 940px;
  height: auto;
  font-family: sans-serif;
}

#navegation-header {
  @extend %display-row;
  div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-family: "Roboto Slab", serif;
      color: $color-letter;
      font-size: 25px;
    }
  }
  nav {
    @extend %display-row;
    width: 500px;
  }
}

.my-class-name-a-nav {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.my-class-name-a-nav:hover,
.my-class-name-a-nav:focus,
.my-class-name-a-nav:active {
  background-color: $color-letter;
  color: #a6d1d8;
}
[class^="my-class-name-a-nav"] {
  padding: 10px 10px;
  cursor: pointer;
  color: $color-letter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
