body {
  margin: 0 auto;
}
body a {
  text-decoration: none;
}

footer, #posts, #team, #news, #section, #Information, header {
  display: flex;
  width: 100%;
  justify-content: center;
}

#divTittlePosts, #divPosts, #divTittleTeam, #divTeam, #divNews, #divContainerInformation, #divImageHeader, #divNavegationHeader nav, #divNavegationHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: #a6d1d8;
}

#divHeader {
  width: 940px;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}

#divNavegationHeader div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
#divNavegationHeader div p {
  font-family: "Roboto Slab", serif;
  color: #3a494c;
  font-size: 25px;
}
#divNavegationHeader nav {
  width: 500px;
}
#divNavegationHeader nav a {
  text-decoration: none;
}

.my-class-name-a-nav {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.my-class-name-a-nav:hover,
.my-class-name-a-nav:focus,
.my-class-name-a-nav:active {
  background-color: #3a494c;
  color: #a6d1d8;
}

[class^=my-class-name-a-nav] {
  padding: 10px 10px;
  cursor: pointer;
  color: #3a494c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#divImageHeader {
  width: 840px;
  margin-top: 40px;
}
#divImageHeader div {
  align-items: center;
}
#divImageHeader div h1 {
  color: white;
  font-size: 45px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

#divTextImageHeader {
  width: 450px;
}

#divRadio {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

input[type=radio]:checked {
  background-color: white;
}

#divContainerInformation {
  margin: 80px 0px;
  width: 940px;
}
#divContainerInformation div {
  width: 260px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#divContainerInformation div img {
  height: 115px;
}
#divContainerInformation div h3 {
  font-size: 18px;
  font-family: sans-serif;
}
#divContainerInformation div p {
  color: #616161;
  font-size: 14px;
  font-family: sans-serif;
}

#divInputFooter, #div-tittle-footer, #div-footer, #divTittleWorks, #divWorks {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

#section {
  background-color: #99d2a7;
}

#divWorks {
  width: 940px;
  margin: 40px 0px;
  color: white;
}

#divTittleWorks {
  width: 400px;
  text-align: center;
  margin-bottom: 40px;
}
#divTittleWorks h1 {
  font-size: 45px;
  margin: 0 auto;
  font-family: "Roboto Slab", serif;
}
#divTittleWorks p {
  font-size: 13px;
  color: white;
  font-family: sans-serif;
  opacity: 0.5;
}

#divNavWorks {
  width: 57.4468085106%;
  margin-bottom: 20px;
}
#divNavWorks nav {
  display: flex;
  justify-content: space-between;
}
#divNavWorks nav a {
  text-decoration: none;
  font-family: Arial, sans-serif;
}

.my-class-name-a-nav-works {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.my-class-name-a-nav-works:hover,
.my-class-name-a-nav-works:focus,
.my-class-name-a-nav-works:active {
  background-color: white;
  color: #99d2a7;
}

[class^=my-class-name-a-nav-works] {
  padding: 10px 10px;
  cursor: pointer;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#divImageWorks {
  display: grid;
  margin: 20px 0px;
  height: 450px;
  width: 100%;
  grid-row-gap: 50px;
  justify-content: space-between;
  grid-template: 44.4% 44.4%/28% 28% 28%;
}
#divImageWorks img {
  height: 100%;
  width: 100%;
}

#divBtnWorks {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  background-color: white;
  width: 120px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #777777;
  font-weight: bold;
}

#news {
  background-color: #f1f1f1;
}

#divNews {
  flex-flow: column wrap;
  margin: 60px 0px;
  width: 940px;
  font-family: sans-serif;
}
#divNews div img {
  width: 100%;
  height: 100%;
}
#divNews div input {
  width: 120px;
  height: 50px;
  border: 0px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}
#divNews div h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
#divNews div p {
  font-size: 18px;
  margin-top: 5px;
  color: #616161;
}

#divNews1 {
  display: grid;
  width: 940px;
  justify-content: space-between;
  grid-template-columns: 240px 660px;
  margin-bottom: 70px;
}

#divNews2 {
  display: grid;
  width: 940px;
  justify-content: space-between;
  grid-template-columns: 660px 240px;
  margin-top: 50px;
}
#divNews2 div:nth-of-type(1) {
  order: 2;
}

#divBtnNews1 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #99d2a7;
  width: 120px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

#divBtnNews2 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #a6d1d8;
  width: 120px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.my-class-name-information-news {
  display: flex;
  flex-flow: column wrap;
}

#divHr {
  width: 100%;
}
#divHr hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #c7c7c7;
}

#team {
  background-color: #deb5c5;
}

#divTeam {
  justify-content: center;
  width: 940px;
  margin: 40px 0px;
}

#divTittleTeam {
  width: 400px;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}
#divTittleTeam h1 {
  font-size: 45px;
  margin: 0 auto;
  font-family: "Roboto Slab", serif;
}
#divTittleTeam p {
  font-size: 13px;
  font-family: sans-serif;
  opacity: 0.5;
}

#divInformationTeam {
  margin-top: 80px;
  margin-bottom: 60px;
  width: 940px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.my-class-name-information-team {
  width: 25.5319148936%;
  display: flex;
  margin: 0px;
  flex-flow: column wrap;
  height: auto;
}
.my-class-name-information-team div h1 {
  font-size: 26px;
  margin: 10px 0px;
  font-family: "Roboto Slab", serif;
}
.my-class-name-information-team div h3 {
  font-size: 16px;
  margin: 5px 0px;
  font-family: sans-serif;
}
.my-class-name-information-team div p {
  color: #616161;
  font-size: 14px;
  margin: 10px 0px;
  font-family: sans-serif;
  line-height: 18px;
}

.my-class-name-image-information-Team {
  display: flex;
  width: 100%;
  height: 180px;
  background-color: #ebebeb;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.my-class-name-content-information-Team {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 0px;
  background-color: white;
}
.my-class-name-content-information-Team nav {
  display: flex;
  width: 70.2127659574%;
  justify-content: space-between;
  margin: 0 auto;
}
.my-class-name-content-information-Team nav input {
  width: 32px;
  height: 32px;
}

#posts {
  background-color: #a6d1d8;
}

#divPosts {
  width: 940px;
  margin: 40px 0px;
}

#divTittlePosts {
  width: 400px;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}
#divTittlePosts h1 {
  font-size: 45px;
  margin: 0 auto;
}
#divTittlePosts p {
  font-size: 14px;
}

#divInformationPosts {
  margin-top: 80px;
  margin-bottom: 60px;
  width: 940px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.my-class-name-container-information-posts {
  width: 30.8510638298%;
  display: flex;
  margin: 0px;
  flex-flow: column wrap;
  height: auto;
}
.my-class-name-container-information-posts div h1 {
  font-size: 22px;
  margin: 10px 0px;
  font-family: sans-serif;
}
.my-class-name-container-information-posts div h3 {
  color: #616161;
  font-size: 14px;
  font-style: italic;
  font-family: sans-serif;
  margin: 5px 0px;
}
.my-class-name-container-information-posts div p {
  color: #616161;
  font-size: 14px;
  margin: 10px 0px;
  font-family: sans-serif;
}

.my-class-name-image-posts {
  display: flex;
  width: 100%;
  height: 140px;
  background-color: #ebebeb;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.my-class-name-information-posts {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 0px;
  background-color: white;
}
.my-class-name-information-posts input {
  width: 32px;
  height: 32px;
}

#divBtnPosts {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: white;
  width: 120px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #616161;
  font-weight: bold;
}

footer {
  background-color: #3c3c3c;
}

#div-footer {
  width: 940px;
  margin: 40px 0px;
}

#div-tittle-footer {
  width: 400px;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}
#div-tittle-footer h1 {
  font-size: 45px;
  margin: 0 auto;
  font-family: "Roboto Slab", serif;
}
#div-tittle-footer p {
  font-size: 13px;
  font-family: sans-serif;
}

#divInputFooter {
  width: 450px;
  height: 300px;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 70px;
}

.my-class-name-inputs {
  border-radius: 8px;
  width: 100%;
  padding-left: 20px;
  font-size: 14px;
  border: 0px;
  height: 50px;
}

#inputMessage {
  padding-top: 10px;
  justify-content: flex-start;
  vertical-align: top;
  height: 120px;
}

#divBtnFooter {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: white;
  width: 120px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #3c3c3c;
  font-weight: bold;
}

#divHrFooter {
  width: 100%;
}
#divHrFooter hr {
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-color: #292929;
  border-style: solid;
}

#divNavFooter {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  font-family: Helvetica, sans-serif;
}
#divNavFooter input {
  height: 45px;
  width: 45px;
}
#divNavFooter nav {
  display: flex;
  width: 210px;
  justify-content: space-between;
}
#divNavFooter a {
  color: #e0be67;
}
#divNavFooter p {
  color: #aaaaaa;
}

@media screen and (max-width: 940px) {
  body {
    width: 940px;
  }
}

/*# sourceMappingURL=style.css.map */
