body {
  margin: 0 auto;
}
body a {
  text-decoration: none;
}

.title {
  width: 400px;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}
.title h2 {
  font-size: 45px;
  margin: 0 auto;
  font-family: "Roboto Slab", serif;
}
.title p {
  font-size: 13px;
  font-family: sans-serif;
  opacity: 0.5;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  background-color: white;
  width: 120px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #616161;
  font-weight: bold;
}

.my-name-class-content-our-team, .my-class-name-content-information-layered, .my-class-name-content-services-section, #information-landing, #navegation-header nav, #navegation-header, .title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

#inputs-footer, .my-class-name-footer, footer, .my-class-name-content-recent-posts, .my-class-name-recent-posts, .my-name-class-our-team, .my-class-name-layered-template, .my-class-name-recent-works, section, .my-class-name-our-services-section, .my-class-name-landing, header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: #a6d1d8;
}

.my-class-name-header {
  width: 940px;
  height: auto;
  font-family: sans-serif;
}

#navegation-header div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
#navegation-header div h1 {
  font-family: "Roboto Slab", serif;
  color: #3a494c;
  font-size: 25px;
}
#navegation-header nav {
  width: 500px;
}

.my-class-name-a-nav {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.my-class-name-a-nav:hover,
.my-class-name-a-nav:focus,
.my-class-name-a-nav:active {
  background-color: #3a494c;
  color: #a6d1d8;
}

[class^=my-class-name-a-nav] {
  padding: 10px 10px;
  cursor: pointer;
  color: #3a494c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-class-name-landing {
  background-color: #a6d1d8;
}

.my-class-name-content-landing {
  width: 940px;
}
.my-class-name-content-landing input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 4px;
}
.my-class-name-content-landing input[type=radio]:checked {
  background-color: white;
}

#information-landing {
  width: 840px;
  margin-top: 40px;
}
#information-landing div {
  align-items: center;
}
#information-landing div h2 {
  color: white;
  font-size: 45px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

#text-information-landing {
  width: 450px;
}

#my-landing {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
}

.landing-indicator {
  display: flex;
  flex-flow: row wrap;
  width: 85px;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.landing-indicator li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.landing-indicator .active {
  margin: 0;
  width: 21px;
  height: 21px;
  background-color: white;
}

.my-class-name-content-services-section {
  margin: 80px 0px;
  width: 940px;
}
.my-class-name-content-services-section div {
  width: 260px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.my-class-name-content-services-section div img {
  height: 115px;
}
.my-class-name-content-services-section div h3 {
  font-size: 18px;
  font-family: sans-serif;
}
.my-class-name-content-services-section div p {
  color: #616161;
  font-size: 14px;
  font-family: sans-serif;
}

section {
  background-color: #99d2a7;
}

.my-class-name-recent-works {
  width: 940px;
  margin: 40px 0px;
  color: white;
}

#nav-recent-works {
  width: 57.4468085106%;
  margin-bottom: 20px;
}
#nav-recent-works nav {
  display: flex;
  justify-content: space-between;
}
#nav-recent-works nav a {
  text-decoration: none;
  font-family: Arial, sans-serif;
}

.my-class-name-a-nav-works {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.my-class-name-a-nav-works:hover,
.my-class-name-a-nav-works:focus,
.my-class-name-a-nav-works:active {
  background-color: white;
  color: #99d2a7;
}

[class^=my-class-name-a-nav-works] {
  padding: 10px 10px;
  cursor: pointer;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.image-recent-works {
  display: grid;
  margin: 20px 0px;
  height: 450px;
  width: 100%;
  grid-row-gap: 50px;
  justify-content: space-between;
  grid-template: 44.4% 44.4%/28% 28% 28%;
}
.image-recent-works img {
  height: 100%;
  width: 100%;
}

.my-class-name-layered-template {
  background-color: #f1f1f1;
}

.my-class-name-content-information-layered {
  flex-flow: column wrap;
  margin: 60px 0px;
  width: 940px;
  font-family: sans-serif;
}
.my-class-name-content-information-layered div img {
  width: 100%;
  height: 100%;
}
.my-class-name-content-information-layered div input {
  width: 120px;
  height: 50px;
  border: 0px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}
.my-class-name-content-information-layered div h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
.my-class-name-content-information-layered div p {
  font-size: 18px;
  margin-top: 5px;
  color: #616161;
}

#first-content-information-layered {
  display: grid;
  width: 940px;
  justify-content: space-between;
  grid-template-columns: 240px 660px;
  margin-bottom: 70px;
}

#second-content-information-layered {
  display: grid;
  width: 940px;
  justify-content: space-between;
  grid-template-columns: 660px 240px;
  margin-top: 50px;
}
#second-content-information-layered div:nth-of-type(1) {
  order: 2;
}

#button-first-content {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #99d2a7;
  width: 120px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

#button-second-content {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #a6d1d8;
  width: 120px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.my-class-name-information-layered {
  display: flex;
  flex-flow: column wrap;
}

#hr-content {
  width: 100%;
}
#hr-content hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #c7c7c7;
}

.my-name-class-our-team {
  background-color: #deb5c5;
}

.my-name-class-content-our-team {
  justify-content: center;
  width: 940px;
  margin: 40px 0px;
}

#content-information-team {
  margin-top: 80px;
  margin-bottom: 60px;
  width: 940px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.my-class-name-information-team {
  width: 25.5319148936%;
  display: flex;
  margin: 0px;
  flex-flow: column wrap;
  height: auto;
}
.my-class-name-information-team div h3 {
  font-size: 26px;
  margin: 10px 0px;
  font-family: "Roboto Slab", serif;
}
.my-class-name-information-team div h4 {
  font-size: 16px;
  margin: 5px 0px;
  font-family: sans-serif;
}
.my-class-name-information-team div p {
  color: #616161;
  font-size: 14px;
  margin: 10px 0px;
  font-family: sans-serif;
  line-height: 18px;
}

.my-class-name-image-information-Team {
  display: flex;
  width: 100%;
  height: 180px;
  background-color: #ebebeb;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.my-class-name-content-information-Team {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 0px;
  background-color: white;
}
.my-class-name-content-information-Team nav {
  display: flex;
  width: 70.2127659574%;
  justify-content: space-between;
  margin: 0 auto;
}
.my-class-name-content-information-Team nav input {
  width: 32px;
  height: 32px;
}

.my-class-name-recent-posts {
  background-color: #a6d1d8;
}

.my-class-name-content-recent-posts {
  width: 940px;
  margin: 40px 0px;
}

#information-posts {
  margin-top: 80px;
  margin-bottom: 60px;
  width: 940px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.my-class-name-container-information-posts {
  width: 30.8510638298%;
  display: flex;
  margin: 0px;
  flex-flow: column wrap;
  height: auto;
}
.my-class-name-container-information-posts div h2 {
  font-size: 22px;
  margin: 10px 0px;
  font-family: sans-serif;
}
.my-class-name-container-information-posts div h4 {
  color: #616161;
  font-size: 14px;
  font-style: italic;
  font-family: sans-serif;
  margin: 5px 0px;
}
.my-class-name-container-information-posts div p {
  color: #616161;
  font-size: 14px;
  margin: 10px 0px;
  font-family: sans-serif;
}

.my-class-name-image-posts {
  display: flex;
  width: 100%;
  height: 140px;
  background-color: #ebebeb;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.my-class-name-information-posts {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 0px;
  background-color: white;
}
.my-class-name-information-posts input {
  width: 32px;
  height: 32px;
}

footer {
  background-color: #3c3c3c;
}

.my-class-name-footer {
  width: 940px;
  margin: 40px 0px;
}

#inputs-footer {
  width: 450px;
  height: 300px;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 70px;
}

.my-class-name-inputs {
  border-radius: 8px;
  width: 100%;
  padding-left: 20px;
  font-size: 14px;
  border: 0px;
  height: 50px;
}

#input-message-footer {
  padding-top: 10px;
  justify-content: flex-start;
  vertical-align: top;
  height: 120px;
}

#hr-footer {
  width: 100%;
}
#hr-footer hr {
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-color: #292929;
  border-style: solid;
}

.my-class-name-nav-footer {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  font-family: Helvetica, sans-serif;
}
.my-class-name-nav-footer input {
  height: 45px;
  width: 45px;
}
.my-class-name-nav-footer nav {
  display: flex;
  width: 210px;
  justify-content: space-between;
}
.my-class-name-nav-footer a {
  color: #e0be67;
}
.my-class-name-nav-footer p {
  color: #616161;
}

@media screen and (max-width: 940px) {
  body {
    width: 940px;
  }
}

/*# sourceMappingURL=style.css.map */
